# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
build/

Podfile.lock
Pods/
.symlinks/
**/Flutter/ephemeral/
**/Flutter/Flutter.podspec
**/Flutter/App.framework/
**/Flutter/Flutter.framework/
**/Flutter/Generated.xcconfig
**/Flutter/flutter_assets/
ServiceDefinitions.json
xcuserdata/

local.properties
keystore.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
*.iml

**/Flutter/GeneratedPluginRegistrant.h
**/Flutter/GeneratedPluginRegistrant.m
**/Flutter/GeneratedPluginRegistrant.java
**/Flutter/GeneratedPluginRegistrant.swift
**/Flutter/generated_plugin_registrant.dart
**/Flutter/generated_plugin_registrant.h
**/Flutter/generated_plugin_registrant.cc
**/Flutter/generated_plugins.cmake

build/
.flutter-plugins
.flutter-plugins-dependencies

.project
.classpath
.settings
.last_build_id